<footer class="bg-gray text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-50">
        <!-- Facebook -->
        <a class="btn btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i></a>
  
        <!-- Twitter -->
        <a href="www.instagram.com"role="button">
            <img mat-card-image src="../../assets/instagram.png"></a>
  
        <!-- Google -->
        <a href="www.twitter.com" role="button">
        <img mat-card-image src="../../assets/twitter.png">
        </a>
        <!-- Instagram -->
        <a href="www.facebook.com" role="button" >
            <img mat-card-image src="../../assets/facebook.png"></a>
          
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  

<!--     
    <div class="copy">
        <p class="address">
          <a class="text-white" href="/">Contact</a>    <a class="text-white" href="/">DMCA</a>  <a class="text-white" href="/">T&C</a>
        </p>
    </div>  -->


    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">www.Movie.com</a>
    </div>
    <!-- Copyright -->
  </footer>
    
  <!-- End of .container -->